:root {
    --e-global-color-primary: #262626;
    --e-global-color-secondary: #262626;
    --e-global-color-text: #262626;
    --e-global-color-accent: #00979E;
    --e-global-color-01072b5: #00979E;
    --e-global-color-0478538: #000000;
    --e-global-color-b66bcd9: #F0F0F1;
    --e-global-color-520fd0a: #FFFFFF;
    --e-global-color-1ec0329: #7A7474;
    --e-global-color-9da225a: #999999;
    --e-global-color-82f9800: #CCCCCC;
    --e-global-color-342be65: #D9D9D9;
    --e-global-color-1d64975: #F5F5F5;
    --e-global-color-ae29790: #F9F9F9;
    --e-global-color-e4f26cb: #262626;
    --e-global-color-abf6cb2: #3D7EF1;
    --e-global-typography-primary-font-family: "Poppins";
    --e-global-typography-primary-font-weight: 400;
    --e-global-typography-primary-text-decoration: none;
    --e-global-typography-secondary-font-family: "Poppins";
    --e-global-typography-secondary-font-weight: 400;
    --e-global-typography-secondary-text-decoration: none;
    --e-global-typography-text-font-family: "Poppins";
    --e-global-typography-text-font-size: 16px;
    --e-global-typography-text-font-weight: 400;
    --e-global-typography-text-text-decoration: none;
    --e-global-typography-accent-font-family: "Poppins";
    --e-global-typography-accent-font-size: 18px;
    --e-global-typography-accent-font-weight: 500;
    --e-global-typography-accent-text-decoration: none;
    --e-global-typography-21da403-font-family: "Poppins";
    --e-global-typography-21da403-font-size: 50px;
    --e-global-typography-21da403-font-weight: 600;
    --e-global-typography-023d328-font-family: "Poppins";
    --e-global-typography-023d328-font-size: 38px;
    --e-global-typography-023d328-font-weight: 500;
    --e-global-typography-3fc7173-font-family: "Poppins";
    --e-global-typography-3fc7173-font-size: 28px;
    --e-global-typography-3fc7173-font-weight: 500;
    --e-global-typography-dafc138-font-family: "Poppins";
    --e-global-typography-dafc138-font-size: 24px;
    --e-global-typography-dafc138-font-weight: 500;
    --e-global-typography-34ad645-font-family: "Poppins";
    --e-global-typography-34ad645-font-size: 20px;
    --e-global-typography-e888623-font-family: "Poppins";
    --e-global-typography-e888623-font-size: 28px;
    --e-global-typography-e888623-font-weight: 400;
}