@import "tailwindcss";

/*
  The default border color has changed to `currentColor` in Tailwind CSS v4,
  so we've added these compatibility styles to make sure everything still
  looks the same as it did with Tailwind CSS v3.

  If we ever want to remove these styles, we need to add an explicit border
  color utility to any element that depends on these defaults.
*/

@layer base {
  html {
    font-family: var(--font-poppins), sans-serif;
  }

  *,
  ::after,
  ::before,
  ::backdrop,
  ::file-selector-button {
    border-color: var(--color-gray-200, currentColor);
  }
}

@layer utilities {

  /* Define the animation keyframes */
  @keyframes marquee {
    0% {
      transform: translateX(0);
    }

    100% {
      transform: translateX(-50%);
    }
  }

  /* Create a utility class to apply the animation */
  .animate-marquee-custom {
    animation: marquee 35s linear infinite;
  }

  .animate-marquee-medium {
    animation: marquee 20s linear infinite;
  }

  .animate-marquee-fast {
    animation: marquee 10s linear infinite;
  }
}

.scrollbar-hide::-webkit-scrollbar {
  display: none;
}

.scrollbar-hide {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

/* Custom grid in Career page */
.career-card {
  border: 1px solid #1f2937;
}

.career-card:nth-child(-n + 5) {
  border-top: none;
}

.career-card:nth-last-child(-n + 5) {
  border-bottom: none;
}

.career-card:nth-child(5n + 1) {
  border-left: none;
}

.career-card:nth-child(5n + 5) {
  border-right: none;
}

.fancy {
    --offset: 3px;
    background: black;
    border-radius: 50px;
    position: relative;
    height: 60px;
    /* width:max-content; */
    /* max-width: auto; */
    overflow: hidden;
}

/* Conic gradient */
.fancy::before { 
    content: '';
    background: conic-gradient(transparent 270deg, #00ffff, #00ffff, #00ffff);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    aspect-ratio: 1;
    width: 100%;
    animation: rotate 3s linear infinite;
}

/* Overlay */
.fancy::after {
    content: '';
    background: inherit;
    border-radius: inherit;
    position: absolute;
    inset: var(--offset);
    height: calc(100% - 2 * var(--offset));
    width: calc(100% - 2 * var(--offset));
}

@keyframes rotate {
  from {
    transform: translate(-50%, -50%) scale(1.4) rotate(0turn);
  }

  to {
    transform: translate(-50%, -50%) scale(2.4) rotate(1turn);
  }
}