@import "tailwindcss";

/*
  The default border color has changed to `currentColor` in Tailwind CSS v4,
  so we've added these compatibility styles to make sure everything still
  looks the same as it did with Tailwind CSS v3.

  If we ever want to remove these styles, we need to add an explicit border
  color utility to any element that depends on these defaults.
*/

@layer base {
  html {
    font-family: var(--font-poppins), sans-serif;
  }

  *,
  ::after,
  ::before,
  ::backdrop,
  ::file-selector-button {
    border-color: var(--color-gray-200, currentColor);
  }
}

@layer utilities {
  /* Define the animation keyframes */
  @keyframes marquee {
    0% {
      transform: translateX(0);
    }
    100% {
      transform: translateX(-50%);
    }
  }

  /* Create a utility class to apply the animation */
  .animate-marquee-custom {
    animation: marquee 35s linear infinite;
  }
  .animate-marquee-medium {
    animation: marquee 20s linear infinite;
  }
  .animate-marquee-fast {
    animation: marquee 10s linear infinite;
  }

 .text-mask-container {
  position: relative;
  width: 100%;
  max-width: 800px; /* Adjust this to fit your design */
  aspect-ratio: 1200 / 400; /* Use the same aspect ratio as your PNG image */
}

.masked-hero-video {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;

  /* The key part: using the new image as a stencil */
 mask-image: var(--mask-image);  
 mask-repeat: no-repeat;
  mask-position: center;
  mask-size: contain;
}

  /* Responsive adjustments for the heading font size */
  @media (max-width: 768px) {
    .text-mask-heading {
      font-size: 4rem; 
    }
  }

  @media (max-width: 640px) {
    .text-mask-heading {
      font-size: 3rem; /* equivalent to sm:text-5xl */
    }
  }
}

.scrollbar-hide::-webkit-scrollbar {
  display: none;
}
.scrollbar-hide {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

/* Custom grid in Career page */
.career-card {
  border: 1px solid #1f2937;
}
.career-card:nth-child(-n + 5) {
  border-top: none;
}
.career-card:nth-last-child(-n + 5) {
  border-bottom: none;
}

.career-card:nth-child(5n + 1){
  border-left: none;
}
.career-card:nth-child(5n + 5) {
  border-right: none;
}
